#character_sheet {
    background-color: #fff;
    width: 100%;
    height: 100vh;
}


.character-sheet__info {
    display: flex;
}


.character-sheet__info__section {
    margin: 20px;
    flex-grow: 1;
}

.flex {
    display: flex;
}

.flex-line {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-line-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px 0;
}


.black-bg-lg-title {
    background-color: #000;
    padding: 5px 15px;
    font-weight: bold;
    margin: auto 0;
    letter-spacing: 10px;
    text-align: center;
}

.black-bg-md-title {
    background-color: #000;
    padding: 8px 5px;
    font-weight: bold;
    margin: auto 0;
    letter-spacing: 1px;
    text-align: center;
}

.input-black {
    border: 3px solid #000;
    margin: 5px;
    flex-grow: 1;
}

.black-letter-border {
    border: 3px solid #000;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.character-img-container {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 400px;
}


.selector {
    margin: 0 5px;
    border-radius: 0;
    border: 3px solid #111;
}

.black-lg-letter {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px;
    margin: auto 0;
    color: #000;
}

.black-md-letter {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    margin: auto 0;
    color: #000;
}

.black-sml-letter{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0px 15px;
    margin: 0;
    color: #000;
}

.input-score {
    -webkit-appearance: textfield !important;
    -moz-appearance:textfield !important;
    width: 30px;
    margin: auto 0;
}

.input-score-lg {
    width: 60px;
    height: 80px;
    margin: auto 0;
    border: 3px solid #000;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.location-sp-boxes {
    display: flex;
    padding: 0 5px;
}

.button-size{
    width: 15px;
    height: 20px;
    padding: auto;
    margin: auto 0;
}