@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

html, body {
     height: 100%;
}

body {
     font-family: 'Chakra Petch', sans-serif;
     color: white;
     background-color: black;
     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
}

a {
     color: white;
}

a:hover {
     color: rgb(218, 22, 202);
}

.cyberpunk-logo {
     width: inherit;
     height: 55px;
     display: inline;
     padding: 5px;
}

.main-menu-container {
     width: 100%;
}

.shortcut-section {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}

.shortcut-item {
     height: 300px;
     width: 400px;
     min-width: 150px;
     padding: 5px;
     margin: 10px;
     background-color: rgb(162, 21, 167);
     border-radius: 5px;
}

.shortcut-item:hover {
     background: linear-gradient(to bottom, transparent, rgb(67, 0, 70));
     background-color: rgb(162, 21, 167);
     border-radius: 5px;
}

.center {
     text-align: center;
}

/**por eliminar**/

.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgba(0,0,0,0.2);
}
.bg-light-alpha {
     background-color: rgba(255,255,255,0.2);
}

.login-form {
     width: 500px;
     border: 2px solid rgba(0, 0, 0, 0.2);
}
/****/

/**Estilos del nav**/

.my-characters-supmenu {
     position: relative;
}

.my-characters-supmenu > a::after {
     display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.my-characters-hovermenu {
     position: absolute;
     z-index: 1;

     
     width: 100vh;
     background-color: #222d;

     top: -1000px; 
     left: 0px;
     transition: all .3s;
}


.my-characters-supmenu:hover > .my-characters-hovermenu, .my-characters-hovermenu:hover {
     top: 55px;
}


.my-characters-hovermenu__section {
     display: flex;
}


.my-characters-hovermenu__item {
     width: 150px;
     height: 80px;
     margin: 10px;
     background-color: #111;
     transition: all .3s;
}

.my-characters-hovermenu__item:hover {
     border: 5px solid #929;
}